* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(0, 0, 0);
    color: #ffffff;
    font-family: 'Merriweather', serif;
    font-size: 12;
}

.logo {
    display: inline-block;
    vertical-align: left;
    width: 400px;
    height: 200px;
    margin-right: 0px;
    margin-top: 0px;

    animation: spinHorizontal 7s linear infinite;
      }
      
      @keyframes spinHorizontal {
        100% { 
          transform: rotateY(360deg); 
        }
        20% {
          transform: rotateY(0deg);
        }
        50% {
          transform: rotateY(0deg);
        }
      }
}

.logo:hover {
    /* Transition */
    -webkit-transition: All 2s ease;
    -moz-transition: All 2s ease;
    -o-transition: All 2s ease;

    /* Transform */
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
    -o-transition: rotate(360deg) scale(1.2);
}
    
#nav {
    display: inline-block;
    width: 700px;
    margin: 0 auto;
    list-style: none;
    /* vertical-align: top; ONLY WITH DISPLAY INLINE-BLOCK*/
    text-align: center;
}

#nav li {
    float: left;
}

#nav a {
    display: inline-block;
    text-align: center;
    width: 75px;
    /* fixed width */
    text-decoration: none;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    font-family: 'Bungee', helvetica, sans-serif;
    font-size: 25px;
    padding: 20px;
    margin: 1em;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

li {
    display: inline;
    list-style: none;
}

li a {
    color: #F7F0F5;
    text-decoration: none;
}

li a:hover {
    color: #c9271e;
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
}

.left a:hover {
    /* Transition */

    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;


    /* Transform */

    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transition: rotate(-10deg) scale(1.2);
}

.right a:hover {
    /* Transition */
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;

    /* Transform */
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transition: rotate(10deg) scale(1.2);
}

.contact {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 40;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 2em;
    width: 100%;
    background-color: none;
    color: white;
    text-align: center;
    font-size: 12;
    font-family: 'Allerta', sans-serif;
}